let g:vscode=1

" Source your .vimrc
source ~/.config/nvim/init.vim

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

"
sethandler <C-2> a:vim
sethandler <C-D> a:vim
sethandler <C-H> a:ide
sethandler <C-J> a:ide
sethandler <C-K> a:vim
sethandler <C-M> a:vim
sethandler <C-N> a:vim
sethandler <C-O> a:vim
sethandler <C-P> a:vim
sethandler <C-R> a:vim
sethandler <C-V> a:vim
