[init]
	defaultbranch = master

[user]
	name = Lasha Kanteladze
	email = kanteladzelasha339@gmail.com

[log]
	abbrevCommit = true

[format]
	pretty = oneline

[includeIf "gitdir:~/Work/Orbital/"]
	path = ~/Work/Orbital/.gitconfig
