[init]
	defaultbranch = master

[user]
	name = Lasha Kanteladze
	email = kanteladzelasha339@gmail.com

[log]
	abbrevCommit = true

[format]
	pretty = oneline

[pull]
	rebase = true

[url "git@github.com:"]
	insteadOf = https://github.com/

[includeIf "gitdir:~/Work/Orbital/"]
	path = ~/Work/Orbital/.gitconfig
