[submodule ".config/nvim/bundle/nord-vim"]
	path = .config/nvim/bundle/nord-vim
	url = https://github.com/arcticicestudio/nord-vim
[submodule ".config/nvim/bundle/nerdtree"]
	path = .config/nvim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule ".config/nvim/bundle/delimitMate"]
	path = .config/nvim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule ".config/nvim/bundle/tagbar"]
	path = .config/nvim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule ".config/nvim/bundle/vim-fugitive"]
	path = .config/nvim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".config/nvim/bundle/vim-airline"]
	path = .config/nvim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".config/nvim/bundle/vim-airline-themes"]
	path = .config/nvim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".config/nvim/bundle/coc.nvim"]
	path = .config/nvim/bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule ".config/nvim/bundle/vim-go"]
	path = .config/nvim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".config/nvim/bundle/typescript-vim"]
	path = .config/nvim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
