[Unit]
Description=Updates pacman repositories
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
RestartSec=2700s
ExecStart=pacman -Syy

[Install]
WantedBy=graphical.target
